<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    
<h1> Registro de personas</h1>

<form action="/validar" method="post">
    Nombre:
    <input type="text" name="nom" id="nom"><br><br>
    Numero de cedula:
    <input type="number" name="ced" id="ced"><br><br>
    Apellido:
    <input type="text" name="apell" id="apell"><br><br>
    Edad:
    <input type="number" name="edad" id="edad"><br><br>
    Correo:
    <input type="email" name="correo" id="correo"><br><br>
    Telefono:
    <input type="number" name="tel" id="tel"><br><br>
  
    </select>



    <input type="submit" value="Registrar">
</form>

</body>
</html>